<nav class="navbar navbar-light bg-light sidebar navbar-expand-lg">
    <div class="container-fluid flex-lg-column">
        <a class="navbar-brand" href="index.html">Armada Strategy Guide</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-lg-column">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="early_game_economy.html">Early Game Economy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="frontline_defense.html">Frontline Defense</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="late_game_scaling.html">Late Game Scaling</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shortcuts_cheat_sheet.html">Shortcuts Cheat Sheet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cortex_bots_guide.html">Cortex Bots Guide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="economy_guide.html">Economy Guide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="turrets_t1_guide.html">T1 Turrets Guide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="walls_guide.html">Walls Guide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="air_strategy_guide.html">Air Strategy Guide</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
